{% extends 'post_page.html' %}

{% block content %}
<p>Администратор сайта: {{ user }}</p>

    {% if user.is_authenticated %}

    <h3>Здравствуйте {{ user }}</h3>
    <a href="{% url 'logout' %} ">Выйти</a>
        {% block cards %}
        {% for post in posts %}
                <div class="card" style="width: 20rem;">
<!--              <img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                <h5 class="card-title"><p><a href="{% url 'post_detail' pk=post.pk %}"><h3>{{ post.title }}</h3></a></p></h5>
                <p class="card-text"><p>{{ post.body }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Изменить пост</a>
                </div>
            </div>
        {% endfor %}
        {% endblock cards %}
{% else %}

         <h1><a href="{% url 'login' %} ">Зарегистрируйтесь</a></h1>
        {% endif %}


{% endblock content %}

